* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
}

.card {
  background-color: rgb(76,247,182);
  border-radius: 5px;
  padding: 15px;
  height: auto; 
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: contain; 
  border-radius: 5px;
}

.card h2,
.card h3 {
  padding: 10px 0;
}
