*{
padding: 0;
margin: 0;

}

.counter{
width: 300px;
height: 200px;
background-color: rgb(202, 198, 198);
padding-top: 40px;
}

.count{
padding: 20px 0;
font-size: 30px;
}

.reset{
margin-left: 50px;
}